.unity-text-element {
    -unity-font: url('project://database/Assets/TextMesh%20Pro/Fonts/LiberationSans.ttf?fileID=12800000&guid=e3265ab4bf004d28a9537516768c1c75&type=3#LiberationSans');
    font-size: 24px;
    color: rgb(236, 240, 241);
}

.menu {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 300px;
    background-color: rgb(44, 62, 80);
}

.menu > * {
    margin-top: 4px;
    margin-bottom: 4px;
}

.row {
    flex-direction: row;
    justify-content: space-between;
}

.danger {
    color: rgb(231, 76, 60);
}

.health-bar-container {
    background-color: rgb(34, 47, 61);
    height: 32px;
}

.health-bar {
    background-color: rgb(39, 174, 96);
    width: 100%;
    height: 100%;
}
